.paginationBtn {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBtn a {
  margin: 8px;
  color: black;
  cursor: pointer;
}

.paginationActive a {
  color: black;
  font-weight: bold;
}

.paginationBtn a:hover {
  color: black;
  font-weight: bold;
}

.paginationDisabled a {
  color: grey;
}
